- header do
  = button :delete, 'test.html', 'Delete', :ajax => true
  %h1 Test2

- content do
  %h2 Forms
  - form '/save' do
    = input :name, :text, 'Name'
    = textarea :text
    = search_input :city, 'City'
    = toogle :switch, 'Switch'
    = slider :cash, 0,  100,  'How much?'
    = radio :pet, 'Choose pet', ['cat', :dog, 'hamster', 'honey badger'], :type => :horizontal
    = radio :pet, 'Choose pet vertical', ['cat', :dog, 'hamster', 'honey badger']
    = checkbox :pet, 'Choose multiple pets', ['cat', :dog, 'hamster', 'honey badger']
    = checkbox :pet, 'Choose multiple pets horizontal', ['cat', :dog, 'hamster', 'honey badger'], :type => :horizontal
    = select :pet, 'Select pet', ['Choose Pet', ['dog', 'Dog'], ['cat', 'Cat'], ['hamster', 'Hamster']]
    = submit 'Send form'
  %h2 Grid
  - grid do
    - column do
      This is first
    - column do
      This is Second
  %h2 Collapsables
  - collapse_set do
    - collapse 'This is collapsible' do
      Hello world!
    - collapse 'This is collapsible' do
      Hello world!
    - collapse 'This is collapsible' do
      Hello world!
  %h2 Lists
  - grid do
    - column do
      - list :theme => 'a', :filter => true do
        = divider "This is divider"
        - item do
          Hello World!
          = counter('3')
        - nested_item "This is header!", :theme => 'b' do
          This is nested item
    - column do
      - ordered_list :theme => 'b' do
        - item do
          Hello World!
        - link 'a.html', :icon => 'alert' do
          This is a link
        - link 'a.html', :theme => 'a'  do
          = thumb '/machine.png'
          This is a link
