!!!5
%html
  %head
    %title Page
    = mobile_include
  %body
    - page :theme => 'c', :id => 'test', :title => "Hello world" do
      = yield
      - footer :fixed => true do
        - buttongroup do
          = button :save, 'test.html', 'Save'
          = button :save, 'test.html', 'Save'
        - navbar do
          = navigate_to 'a.html', 'One', :active => true
          = navigate_to 'b.html', 'Two', :icon => :delete

